@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Roboto", sans serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-font {
  font-family: "Poetsen One", sans-serif;
}

.carousel {
  animation: slide 35s linear infinite;
}

.bg-home {
  background-image: url("https://png.pngtree.com/background/20230417/original/pngtree-burger-food-restaurant-background-picture-image_2445056.jpg");
  background-size: cover;
  background-position: 2px -170px;

}

@keyframes slide {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@layer components {
  .bg-light {
    @apply bg-white text-slate-950 dark:bg-slate-950 dark:text-slate-100 shadow;
  }

  .bg-dark {
    @apply bg-emerald-50 text-slate-950 dark:bg-emerald-950/70 dark:text-slate-100;
  }

  .sb-button {
    @apply flex items-center justify-center rounded-lg duration-300 cursor-pointer hover:bg-emerald-200 dark:hover:bg-emerald-800 py-3 active:scale-90 px-2;
  }
  .nav-button{
    @apply w-7 h-7 cursor-pointer hover:text-white p-1 rounded-lg hover:bg-emerald-700 dark:text-slate-100
  }
  .bg-mobile{
    @apply absolute top-0 left-0 bg-black/60 h-screen w-screen z-30;
  }
  .main-section{
    @apply h-full overflow-y-auto overflow-x-hidden relative;
  }
  .shop-card{
    @apply flex flex-col lg:flex-row justify-center pb-2 lg:py-0 lg:justify-start items-center gap-5 shadow rounded-lg md:text-[0px] text-emerald-900 bg-white dark:bg-slate-950 dark:text-slate-100;
  }
}